sudo: false

install: true

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.sonar/installs'

language: java

jdk:
  - oraclejdk8

addons:
  sonarqube: true

script:
  - openssl aes-256-cbc -k $GPG_PASSPHRASE -in codesigning.asc.enc -out codesigning.asc -d
  - gpg --fast-import codesigning.asc
  - mvn --settings settings.xml clean org.jacoco:jacoco-maven-plugin:prepare-agent deploy sonar:sonar -Dsonar.host.url=https://sonarqube.com -Dsonar.login=$SONAR_TOKEN -Dsonar.organization=$SONAR_ORGANIZATION -Dgpg.passphrase=$GPG_PASSPHRASE

deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  file_glob: true
  file: 
    - 'target/simple-jta-*.jar'
    - 'target/simple-jta-*.asc'
  skip_cleanup: true
  on:
    tags: true
